:root {
    --grid-rows: 1;
    --grid-cols: 1;
    --primary-color: rgb(3, 121, 126);
    --secondary-color: rgb(241, 241, 241);
    --tertiary-color: rgb(103, 174, 177);
    --shadow-color: rgb(110, 110, 110);
    --bg-color: rgb(255, 244, 207);
}

body {
    text-align: center;
    font-family: Calibri;
    background-color: var(--bg-color);
}

h1 {
    margin: 24px 0;
    font-family: 'Oleo Script Swash Caps', Calibri;
    font-size: 3rem;
    color: var(--primary-color);
}

button {
    position: relative;
    margin: 8px;
    border: 0;
    border-radius: 28px;
    box-shadow: 2px 2px 6px var(--shadow-color);
    cursor: pointer;
    background-color: var(--primary-color);
    font-family: Calibri;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: var(--secondary-color);
}

button:active {
    top: 3px;
    left: 2px;
}

button:disabled {
    top: 3px;
    left: 2px;
    box-shadow: none;
    opacity: .5;
}

#reset {
    padding: 12px 20px;
}

#board {
    margin: 16px auto;
    border-radius: 4px;
    max-width: 560px;
    max-height: 560px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-gap: 1px;
    box-shadow: 2px 2px 6px var(--shadow-color);
    background-color: var(--primary-color);
}

#options {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 240px;
    color: var(--primary-color);
}

.container {
    padding: 4px;
}

.cell {
    width: 100%;
    background-color: var(--secondary-color);
}

.cell:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.etched-cell {
    background-color: var(--tertiary-color);
}

.reset-bg {
    background-color: var(--secondary-color);
}