:root {
    --grid-rows: 1;
    --grid-cols: 1;
    --primary-color: rgb(3, 121, 126);
    --secondary-color: rgb(241, 241, 241);
    --tertiary-color: rgb(103, 174, 177);
    --shadow-color: rgb(110, 110, 110);
    --bg-color: rgb(255, 244, 207);
}

body {
    margin: 0;
    background-color: var(--bg-color);
    text-align: center;
    font-family: Calibri;
    font-size: 1.1rem;
}

h1 {
    margin: 24px 0;
    font-family: 'Oleo Script Swash Caps', Calibri;
    font-size: 3rem;
    color: var(--primary-color);
}

button {
    position: relative;
    margin: 8px;
    border: 0;
    border-radius: 28px;
    padding: 8px 20px;
    box-shadow: 2px 2px 6px var(--shadow-color);
    background-color: var(--primary-color);
    font-family: Calibri;
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: var(--secondary-color);
    cursor: pointer;
}

button:active {
    top: 3px;
    left: 2px;
}

footer {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    background: var(--primary-color);
    color: var(--secondary-color);
}

a {
    font-weight: 600;
    color: var(--secondary-color);
}

a:visited {
    color: var(--bg-color);
}

#game-wrapper {
    margin: 24px;
}

#board {
    margin: 24px 8px;
    margin-left: auto;
    padding: 24px;
    border-radius: 12px;
    min-width: 280px;
    max-width: 560px;
    max-height: 560px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-gap: 1px;
    box-shadow: 2px 2px 6px var(--shadow-color);
    background-color: var(--primary-color);
}

#options {
    margin: auto;
    padding: 8px;
    width: 240px;
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
}

#copyright {
    padding: 10px;
}

.container {
    padding: 4px;
}

.cell {
    width: 100%;
    background-color: var(--secondary-color);
}

.cell:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.etched-cell {
    background-color: var(--tertiary-color);
}

.reset-bg {
    background-color: var(--secondary-color);
}

@media screen and (min-width: 576px) {
    #game-wrapper {
        display: flex;
    }

    #board {
        flex: 1;
    }

    #options {
        margin-right: auto;
        margin-left: 0;
    }
}